body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;
    font-size: 55px;
    color: black;
}

#user-list {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* grid-column: span; */
    padding: 20px;
}

#card {
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    /* display: grid;
    grid-column: span; */
    align-items: center;
    justify-content: center;
    width: 300px;
}

#nav {
    background-color: aqua;
    height: 40%;
}

.submit {
    font-size: 20px;
    background-color: aqua;
    border-radius: 25px;
    width: 25%;
    padding: 10px, 10px, 10px, 10px;
}

#form {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#form input {
    font-size: 30px;
}